@font-face {
  font-family: "Museo0";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_0.otf") format("truetype"); }

@font-face {
  font-family: "Museo1";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_1.otf") format("truetype"); }

@font-face {
  font-family: "Museo2";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_2.otf") format("truetype"); }

@font-face {
  font-family: "Museo3";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_3.otf") format("truetype"); }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl.otf") format("truetype"); }

@font-face {
  font-family: "Allgidus";
  src: url("../fonts/Allgidus/Allgidus.ttf") format("truetype"); }

@font-face {
  font-family: "RoadRadio-Black";
  src: url("../fonts/RoadRadio/RoadRadio-Black.otf") format("truetype"); }

@font-face {
  font-family: "RoadRadio-Bold";
  src: url("../fonts/RoadRadio/RoadRadio-Bold.otf") format("truetype"); }

@font-face {
  font-family: "RoadRadio-Light";
  src: url("../fonts/RoadRadio/RoadRadio-Light.otf") format("truetype"); }

@font-face {
  font-family: "RoadRadio-Thin";
  src: url("../fonts/RoadRadio/RoadRadio-Thin.otf") format("truetype"); }

nav.navbar {
  padding-top: 21px;
  padding-bottom: 40px; }
  nav.navbar ul li:last-child a:after {
    content: ''; }
  nav.navbar ul li a {
    font-family: 'Allgidus';
    font-size: 15px;
    font-weight: bold;
    color: #b6bdc2;
    position: relative; }
    nav.navbar ul li a:after {
      content: '|';
      position: absolute;
      right: 0; }

header {
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 950px;
  position: relative; }
  header canvas#space {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  header .information {
    font-family: 'Allgidus'; }
    header .information__location p {
      font-size: 15px;
      font-weight: 400;
      line-height: 11.01px;
      letter-spacing: -0.6px;
      color: #c5c6c5; }
    header .information__our-location a {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.77px;
      color: #fff;
      border: 1px solid #ff601e;
      border-radius: 21px;
      padding: 8px 20px 8px 20px; }
      header .information__our-location a img {
        padding-right: 10px;
        max-width: 36px;
        height: auto; }
    header .information__contact__phone {
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;
      line-height: 11.01px;
      letter-spacing: -0.96px;
      margin-bottom: 15px;
      padding-top: 8px; }
    header .information__contact__email {
      margin-bottom: 8px; }
    header .information__contact__email, header .information__contact__get-call {
      color: #ff601e;
      font-size: 18px;
      line-height: 11.01px;
      letter-spacing: -0.72px; }
    header .information__contact__get-call {
      text-decoration: underline; }
  header .main-header-information {
    margin-top: 75px;
    font-family: 'Allgidus';
    letter-spacing: -0.68px;
    position: relative;
    position: relative; }
    header .main-header-information:before {
      content: '';
      width: 7px;
      height: 82%;
      background-color: #ff601e;
      position: absolute;
      right: 0;
      top: 10%; }
    header .main-header-information:after {
      content: '';
      width: 7px;
      height: 82%;
      background-color: #ff601e;
      position: absolute;
      left: 0;
      top: 10%; }
    header .main-header-information h1 {
      font-size: 54px;
      color: #fff; }
      header .main-header-information h1:before {
        content: '';
        width: 14%;
        height: 7px;
        background-color: #ff601e;
        position: absolute;
        right: 0;
        top: 10%; }
      header .main-header-information h1:after {
        content: '';
        width: 14%;
        height: 7px;
        background-color: #ff601e;
        position: absolute;
        left: 0;
        top: 10%; }
    header .main-header-information p {
      font-size: 17px;
      color: #c5c6c5;
      max-width: 615px;
      margin-bottom: 65px; }
    header .main-header-information .btn {
      font-family: 'Museo0';
      font-size: 21px;
      font-weight: 400;
      letter-spacing: -1px;
      background-color: #ff601e;
      border-radius: 28px;
      color: #fff;
      padding: 10px 38.5px 10px 38.5px; }
      header .main-header-information .btn:before {
        content: '';
        width: 35%;
        height: 7px;
        background-color: #ff601e;
        position: absolute;
        right: 0;
        bottom: 7%; }
      header .main-header-information .btn:after {
        content: '';
        width: 35%;
        height: 7px;
        background-color: #ff601e;
        position: absolute;
        left: 0;
        bottom: 7%; }
  header .mouse-icon {
    margin-top: 75px; }
    header .mouse-icon img {
      max-width: 32px;
      height: auto; }
  header .our-partners {
    padding: 23px 28px 23px 28px;
    position: absolute;
    bottom: -7%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 0 12px 1px rgba(229, 225, 225, 0.73); }
    header .our-partners__text {
      font-family: 'Allgidus';
      color: #ff601e;
      position: relative; }
      header .our-partners__text:after {
        content: '';
        position: absolute;
        height: 85%;
        width: 5px;
        background-color: #ff601e;
        right: -14px;
        top: 9%; }
      header .our-partners__text h1 {
        font-size: 41px; }
      header .our-partners__text h2 {
        font-size: 26px;
        margin-bottom: 0; }
    header .our-partners__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-left: 43px;
      padding-right: 22px; }
      header .our-partners__icons img {
        max-width: 93px;
        height: auto; }

.our-production {
  min-height: 767px;
  background-color: #fff; }
  .our-production h1 {
    padding-top: 117px;
    color: #000000;
    font-family: "Allgidus";
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px;
    position: relative; }
    .our-production h1:after {
      content: '';
      position: absolute;
      background-color: #000000;
      height: 3px;
      width: 141px;
      margin-left: auto;
      margin-right: auto;
      bottom: -15px;
      left: 0;
      right: 0; }
  .our-production #carouselProduction {
    padding-top: 75px;
    padding-bottom: 75px; }
    .our-production #carouselProduction .carousel-inner {
      padding-top: 10px;
      padding-bottom: 10px; }
      .our-production #carouselProduction .carousel-inner .carousel-item div {
        padding: 45px 14px 37px 14px;
        max-width: 227px;
        box-shadow: 0 0 12px rgba(244, 239, 239, 0.73); }
        .our-production #carouselProduction .carousel-inner .carousel-item div img {
          max-width: 65px;
          height: auto;
          padding-bottom: 25px; }
        .our-production #carouselProduction .carousel-inner .carousel-item div p {
          font-family: 'Allgidus';
          font-size: 15px;
          color: #130c04;
          font-weight: bold;
          margin-bottom: 40px; }
        .our-production #carouselProduction .carousel-inner .carousel-item div button {
          font-family: 'RoadRadio-Bold';
          font-size: 15px;
          background-color: #000;
          color: #fff;
          border-radius: unset;
          text-transform: uppercase; }
    .our-production #carouselProduction .carousel-controls {
      opacity: 1; }
      .our-production #carouselProduction .carousel-controls.carousel-control-prev {
        display: flex;
        justify-content: flex-start; }
      .our-production #carouselProduction .carousel-controls.carousel-control-next {
        display: flex;
        justify-content: flex-end; }
      .our-production #carouselProduction .carousel-controls i {
        background-color: #000;
        color: #fff;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        font-size: 36px; }
        .our-production #carouselProduction .carousel-controls i.fa-caret-left {
          padding-right: 6px; }
        .our-production #carouselProduction .carousel-controls i.fa-caret-right {
          padding-left: 6px; }

@media (min-width: 768px) {
  .our-production {
    /* show 3 items */
    /* left or forward direction */
    /* farthest right hidden item must be abso position for animations */
    /* right or prev direction */ }
    .our-production .carousel-inner .active,
    .our-production .carousel-inner .active + .carousel-item,
    .our-production .carousel-inner .active + .carousel-item + .carousel-item {
      display: block; }
    .our-production .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .our-production .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .our-production .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none; }
    .our-production .carousel-inner .carousel-item-next,
    .our-production .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0); }
    .our-production .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      display: block;
      visibility: visible; }
    .our-production .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .our-production .carousel-item-next.carousel-item-left + .carousel-item,
    .our-production .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .our-production .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible; }
    .our-production .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible; }
    .our-production .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .our-production .carousel-item-prev.carousel-item-right + .carousel-item,
    .our-production .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .our-production .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible; } }

.our-advantages {
  background: url("../img/our-advantages-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 767px;
  font-family: 'Allgidus';
  padding-top: 55px;
  padding-bottom: 55px; }
  .our-advantages h1 {
    font-size: 60px;
    color: #fcfcfc; }
  .our-advantages__item {
    padding-top: 85px; }
  .our-advantages__number {
    padding-right: 30px; }
    .our-advantages__number h1 {
      font-size: 88px;
      color: #bebcba;
      margin-bottom: 0; }
  .our-advantages__text p {
    font-size: 22px;
    color: #f7f6f5;
    margin-bottom: 0; }

.get-our-price {
  background-color: #fbd301;
  padding-top: 45px;
  padding-bottom: 45px; }
  .get-our-price h2 {
    font-family: 'Allgidus';
    font-size: 33px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0; }
  .get-our-price button {
    font-family: 'RoadRadio-Bold';
    font-size: 20px;
    background-color: #000;
    color: #fafafa;
    border-radius: unset;
    text-transform: uppercase;
    padding: 15px 50px 15px 50px;
    margin-left: auto;
    display: block; }
