#certificateModal {
    .modal-dialog {
        .modal-content {
            background-color: unset;
            border: unset;
            .modal-header {
                border-bottom: unset;
                button {
                    position: absolute;
                    right: -6%;
                    top: -3%;
                    opacity: 1;
                    span {
                        color: #fff;
                        font-size: 50px;
                    }
                }
            }
            .modal-body {
                padding: 0;
                img {
                    width: 100%;
                    height: auto;
                    position: relative;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    #certificateModal {
        .modal-dialog {
            max-width: 750px;
            margin: 1.75rem auto;
        }
    }
}

@media screen and (min-width: 576px) {
    .modal {
        text-align: center;
        padding: 0!important;
    }
    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
}