footer {
    background-color: #f0f0f0;
    padding-top: 50px;
    .footer__brand {
        img {
            max-width: 147px;
            height: auto;
        }
    }
    .footer__qrcode {
        img {
            max-width: 115px;
            height: auto;
        }
    }
    .footer__tm {
        h2 {
            font-family: 'Allgidus';
            font-size: 28px;
            font-weight: bold;
            color: #000
        }
    }
    .footer__social {
        font-family: 'Allgidus';
        h1 {
            font-size: 28px;
            font-weight: bold;
            color: #000
        }
        p {
            font-size: 14px;
            font-weight: bold;
            line-height: 35px;
            margin-bottom: 0;
            color: #b1b1b1;
        }
        &__map {
            font-size: 16px;
            font-weight: bold;
            line-height: 35px;
            text-decoration: underline;
            color: #ff813d;
        }
        &__phone {
            font-size: 14px;
            font-weight: bold;
            line-height: 35px;
            margin-bottom: 0;
            color: #b1b1b1;
        }
    }
    .footer__questions {
        font-family: 'Allgidus';
        h2 {
            color: #b1b1b1;
            font-size: 25px;
            font-weight: bold;
        }
        .btn {
            padding: 5px 25px 5px 25px;
            border-radius: 21px;
            border: 1px solid #ff601e;
            color: #ff600e;
            font-size: 25px;
            font-weight: 400;
            letter-spacing: -1.01px;
            background-color: unset;
        }
    }
    .footer__bottom {
        padding-top: 30px;
        padding-bottom: 12px;
        p {
            color: #b1b1b1;
            font-size: 15px;
            font-weight: bold;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    footer {
        padding-top: 30px;
        .footer__brand {
            img {
                max-width: 130px;
            }
        }
        .footer__qrcode {
            img {
                max-width: 100px;
            }
        }
        .footer__social {
            h1 {
                font-size: 30px;
            }
            p {
                font-size: 14px;
            }
            &__map {
                font-size: 14px;
            }
            &__phone {
                font-size: 14px;
            }
        }
        .footer__questions {
            font-family: 'Allgidus';
            h2 {
                font-size: 18px;
            }
            .btn {
                font-size: 18px;
            }
        }
        .footer__bottom {
            p {
                font-size: 14px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    footer {
        padding-top: 30px;
        .footer__brand {
            img {
                max-width: 100px;
            }
        }
        .footer__tm {
            img {
                max-width: 100px;
            }
        }
        .footer__qrcode {
            img {
                max-width: 80px;
            }
        }
        .footer__social {
            text-align: center;
            h1 {
                font-size: 26px;
            }
            p {
                font-size: 14px;
            }
            &__map {
                font-size: 14px;
            }
            &__phone {
                font-size: 14px;
            }
        }
        .footer__questions {
            h2 {
                font-size: 18px;
            }
            .btn {
                font-size: 18px;
            }
        }
        .footer__bottom {
            p {
                font-size: 14px;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    footer {
        padding-top: 30px;
        .footer__brand {
            img {
                max-width: 100px;
            }
        }
        .footer__tm {
            img {
                max-width: 100px;
            }
        }
        .footer__qrcode {
            img {
                max-width: 80px;
            }
        }
        .footer__social {
            margin-top: 25px;
            text-align: center;
            h1 {
                font-size: 26px;
            }
            p {
                font-size: 14px;
            }
            &__map {
                font-size: 14px;
            }
            &__phone {
                font-size: 14px;
            }
        }
        .footer__questions {
            h2 {
                font-size: 18px;
            }
            .btn {
                font-size: 18px;
            }
        }
        .footer__bottom {
            p {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    footer {
        padding-top: 30px;
        .footer__brand {
            img {
                max-width: 100px;
            }
        }
        .footer__qrcode {
            img {
                max-width: 80px;
            }
        }
        .footer__tm {
            img {
                max-width: 100px;
            }
        }
        .footer__social {
            margin-top: 25px;
            text-align: center;
            h1 {
                font-size: 26px;
            }
            p {
                font-size: 14px;
            }
            &__map {
                font-size: 14px;
            }
            &__phone {
                font-size: 14px;
            }
        }
        .footer__questions {
            h2 {
                font-size: 18px;
            }
            .btn {
                font-size: 18px;
            }
        }
        .footer__bottom {
            p {
                font-size: 14px;
            }
        }
    }
}