$our-price-bg: #fbd301;
.get-our-price {
    background-color: $our-price-bg;
    padding-top: 45px;
    padding-bottom: 45px;
    h2 {
        font-family: 'Allgidus';
        font-size: 33px;
        font-weight: bold;
        color: #000;
        margin-bottom: 0;
    }
    button {
        font-family: 'RoadRadio-Bold';
        font-size: 20px;
        background-color: #000;
        color: #fafafa;
        border-radius: unset;
        text-transform: uppercase;
        padding: 15px 50px 15px 50px;
        margin-left: auto;
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .get-our-price {
        h2 {
            font-size: 30px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .get-our-price {
        h2 {
            font-size: 26px;
        }
        button {
            margin-left: 0;
            padding: 15px 15px 15px 15px;
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .get-our-price {
        padding-top: 25px;
        padding-bottom: 25px;
        h2 {
            font-size: 22px;
            text-align: center;
            padding-bottom: 15px;
        }
        button {
            margin-left: auto;
            margin-right: auto;
            padding: 15px 15px 15px 15px;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 575px) {
    .get-our-price {
        padding-top: 20px;
        padding-bottom: 20px;
        h2 {
            font-size: 18px;
            text-align: center;
            padding-bottom: 15px;
        }
        button {
            margin-left: auto;
            margin-right: auto;
            padding: 10px 10px 10px 10px;
            font-size: 14px;
        }
    }
}