$location-text-color: #c5c6c5;
$border-color: #ff601e;
$contact-text-color: #ff601e;
$btn-bg:#ff601e;
header {
    background: url('../img/header-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 950px;
    position: relative;
    canvas {
        &#space {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            // z-index: -1;
        }
    }
    .information {
        font-family: 'Allgidus';
        z-index: 999;
        &__location {
            z-index: 999;
            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 11.01px;
                letter-spacing: -0.6px;
                color: $location-text-color;
            }
        }
        &__our-location {
            z-index: 999;
            a {
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.77px;
                color: #fff;
                border: 1px solid $border-color;
                border-radius: 21px;
                padding: 8px 20px 8px 20px;
                img {
                    padding-right: 10px;
                    max-width: 36px;
                    height: auto;
                }
            }
        }
        &__contact {
            z-index: 999;
            &__phone {
                color: #ffffff;
                font-size: 24px;
                font-weight: bold;
                line-height: 11.01px;
                letter-spacing: -0.96px;
                margin-bottom: 15px;
                padding-top: 8px;
            }
            &__email {
                margin-bottom: 8px;
            }
            &__email,
            &__get-call {
                color: $contact-text-color;
                font-size: 18px;
                line-height: 11.01px;
                letter-spacing: -0.72px;
            }
            &__get-call {
                text-decoration: underline;
            }
        }
    }
    .main-header-information {
        z-index: 999;
        margin-top: 75px;
        font-family: 'Allgidus';
        letter-spacing: -0.68px;
        position: relative;
        &:before {
            content: '';
            width: 7px;
            height: 82%;
            background-color: $border-color;
            position: absolute;
            right: 0;
            top: 10%;
        }
        &:after {
            content: '';
            width: 7px;
            height: 82%;
            background-color: $border-color;
            position: absolute;
            left: 0;
            top: 10%;
        }
        position: relative;
        h1 {
            font-size: 54px;
            color: #fff;
            &:before {
                content: '';
                width: 14%;
                height: 7px;
                background-color: $border-color;
                position: absolute;
                right: 0;
                top: 10%;
            }
            &:after {
                content: '';
                width: 14%;
                height: 7px;
                background-color: $border-color;
                position: absolute;
                left: 0;
                top: 10%;
            }
        }
        p {
            font-size: 17px;
            color: $location-text-color;
            max-width: 615px;
            margin-bottom: 65px;
        }
        .btn {
            font-family: 'Museo0';
            font-size: 21px;
            font-weight: 400;
            letter-spacing: -1px;
            background-color: $btn-bg;
            border-radius: 28px;
            color: #fff;
            padding: 10px 38.5px 10px 38.5px;
            &:before {
                content: '';
                width: 35%;
                height: 7px;
                background-color: $border-color;
                position: absolute;
                right: 0;
                bottom: 7%;
            }
            &:after {
                content: '';
                width: 35%;
                height: 7px;
                background-color: $border-color;
                position: absolute;
                left: 0;
                bottom: 7%;
            }
        }
    }
    .mouse-icon {
        margin-top: 75px;
        img {
            max-width: 32px;
            height: auto;
        }
    }
    .our-partners {
        padding: 23px 28px 23px 28px;
        position: absolute;
        bottom: -7%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        box-shadow: 0 0 12px 1px rgba(229, 225, 225, 0.73);
        &__text {
            font-family: 'Allgidus';
            color: $border-color;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                height: 85%;
                width: 5px;
                background-color: $border-color;
                right: -14px;
                top: 9%;
            }
            h1 {
                font-size: 41px;
            }
            h2 {
                font-size: 26px;
                margin-bottom: 0;
            }
            .on-mobile {
                display: none;
            }
        }
        &__icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-left: 43px;
            padding-right: 22px;
            img {
                max-width: 93px;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    header {
        .main-header-information {
            h1 {
                &:before {
                    width: 7%;
                }
                &:after {
                    width: 7%;
                }
            }
            .btn {
                &:before {
                    width: 30%;
                }
                &:after {
                    width: 30%;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header {
        .information {
            &__location {
                p {
                    font-size: 14px;
                }
            }
            &__brand {
                img {
                    max-width: 140px;
                }
            }
            &__our-location {
                z-index: 999;
                a {
                    font-size: 14px;
                    padding: 8px 10px 8px 10px;
                    img {
                        max-width: 30px;
                    }
                }
            }
            &__contact {
                z-index: 999;
                &__phone {
                    font-size: 16px;
                }
                &__email,
                &__get-call {
                    font-size: 16px;
                }
            }
        }
        .main-header-information {
            h1 {
                font-size: 46px;
                &:before {
                    width: 7%;
                }
                &:after {
                    width: 7%;
                }
            }
            p {
                font-size: 16px;
            }
            .btn {
                font-size: 18px;
                &:before {
                    width: 30%;
                }
                &:after {
                    width: 30%;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    header {
        min-height: unset;
        .information {
            &__location {
                p {
                    font-size: 12px;
                }
            }
            &__brand {
                img {
                    max-width: 100px;
                    height: auto;
                }
            }
            &__our-location {
                z-index: 999;
                a {
                    font-size: 12px;
                    padding: 8px 10px 8px 10px;
                    img {
                        max-width: 30px;
                    }
                }
            }
            &__contact {
                z-index: 999;
                text-align: center;
                &__phone {
                    font-size: 12px;
                }
                &__email,
                &__get-call {
                    font-size: 12px;
                }
            }
        }
        .main-header-information {
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
            h1 {
                font-size: 32px;
                &:before {
                    display: none;
                }
                &:after {
                    display: none;
                }
            }
            p {
                font-size: 14px;
            }
            .btn {
                font-size: 14px;
                &:before {
                    display: none;
                }
                &:after {
                    display: none;
                }
            }
        }
        .our-partners {
            &__text {
                h1 {
                    font-size: 36px;
                }
                h2 {
                    font-size: 21px;
                }
            }
            &__icons {
                img {
                    max-width: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    header {
        min-height: unset;
        .information {
            &__location {
                p {
                    font-size: 12px;
                }
            }
            &__brand {
                padding-top: 0;
                img {
                    max-width: 100px;
                    height: auto;
                }
            }
            &__our-location {
                z-index: 999;
                a {
                    font-size: 12px;
                    padding: 8px 10px 8px 10px;
                    img {
                        max-width: 30px;
                    }
                }
            }
            &__contact {
                z-index: 999;
                &__phone {
                    font-size: 12px;
                }
                &__email,
                &__get-call {
                    font-size: 12px;
                }
            }
        }
        .main-header-information {
            margin-top: 35px;
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
            h1 {
                font-size: 24px;
                &:before {
                    display: none;
                }
                &:after {
                    display: none;
                }
            }
            p {
                font-size: 12px;
                margin-bottom: 25px;
            }
            .btn {
                font-size: 14px;
                margin-bottom: 25px;
                &:before {
                    display: none;
                }
                &:after {
                    display: none;
                }
            }
        }
        .our-partners {
            flex-wrap: wrap;
            justify-content: center;
            &__text {
                &:after {
                    display: none;
                }
                h1,
                h2 {
                    display: none;
                }
                .on-mobile {
                    display: block;
                    font-size: 28px;
                }
            }
            &__icons {
                padding-left: 0;
                padding-right: 0;
                img {
                    max-width: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 389px) {
    header {
        .information {
            flex-wrap: wrap;
            &__location {
                order: 2;
                text-align: center;
            }
            &__brand {
                order: 3;
                padding-top: 30px !important;
            }
            &__our-location {
                order: 1;
            }
            &__contact {
                text-align: center;
                align-self: center;
                order: 1;
            }
        }
    }
}