$nav-items-color: #b6bdc2;
nav.navbar {
    padding-top: 21px;
    padding-bottom: 40px;
    button {
        i {
            color: #fff;
        }
        &:focus {
            outline: unset;
        }
    }
    ul {
        li {
            &:last-child {
                a {
                    &:after {
                        content: '';
                    }
                }
            }
            a {
                font-family: 'Allgidus';
                font-size: 15px;
                font-weight: bold;
                color: $nav-items-color;
                position: relative;
                &:after {
                    content: '|';
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    nav.navbar {
        padding: 10px 0px 10px 0px;
        .navbar-toggler {
            padding: 0;
            i {
                font-size: 26px;
            }
        }
        ul {
            text-align: center;
            li {
                a {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}