$second-text-color: #fbd301;
.our-product {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fafafa;
    h1 {
        @include section-title;
        &:after {
            background-color: $second-text-color;
        }
    }
    &__item {
        margin-top: 55px;
        &:nth-child(-n+2) {
            a {
                max-width: 135px;
                display: block;
                margin: auto;
            }
        }
        img {
            padding-bottom: 17px;
            max-width: 137px;
            height: auto;
        }
        a {
            font-family: 'Allgidus';
            font-size: 22px;
            font-weight: 400;
            line-height: 19.01px;
            text-decoration: underline;
            letter-spacing: -0.88px;
            color: #000;
            line-height: 1.2;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .our-product {
        &__item {
            img {
                max-width: 100px;
            }
            a {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .our-product {
        &__item {
            img {
                max-width: 100px;
            }
            &:nth-child(-n+2) {
                a {
                    max-width: unset;
                }
            }
            a {
                font-size: 16px;
            }
        }
    }
}